@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
}

.filterText{
  margin-right: 7vh;
  
}
.custom-card-img-top {
  width: 18rem; /* You can set the dimensions to whatever you want */
  height: 200px;
  object-fit: cover;
}

.custom-mb-5 {
  margin-bottom: 5rem;
}
p {
  line-height: 0.5rem;
}
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}